_solution_zip_inspect/Workflows/CheckAssessmentStarted-59161A9C-38C0-EF11-B8E8-000D3AE1E1C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline-1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_6ac96"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_sharepointonline-2": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_45c67"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "352d2dec-1b17-47ed-9d54-2b23a92fc7c3"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "UserName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Email",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Get_Question_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac8bc9de-f86b-4f09-b03e-a169107a5e3f"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "assessmentstartedanswer": "@{body('Get_Status')}",
              "assessmentquestionnumber": "@{body('Get_Question_Data')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "assessmentstartedanswer": {
                  "title": "AssessmentStartedAnswer",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "assessmentquestionnumber": {
                  "title": "AssessmentQuestionNumber",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_Question_Data": {
          "runAfter": {
            "Get_Status": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6272477-f8d7-4ef4-a90e-f95695defce8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline-1",
              "operationId": "GetFileContentByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "path": "/Shared Documents/@{triggerBody()['text']} - @{triggerBody()?['text_1']}/Tracking/@{triggerBody()?['text']} - @{triggerBody()?['text_1']} - Current Question.txt",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Status": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8a7f02ca-5b64-4134-baab-b16533c295ce"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline-2",
              "operationId": "GetFileContentByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "path": "/Shared Documents/@{triggerBody()['text']} - @{triggerBody()?['text_1']}/Tracking/@{triggerBody()?['text']} - @{triggerBody()?['text_1']} - Assessment Started.txt",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}