_solution_zip_inspect/Workflows/LoadJobDetailsandIndustry-B298335E-A354-F011-BEC1-6045BD3CDE85.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline-1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_6ac96"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "UserName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Email",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "352d2dec-1b17-47ed-9d54-2b23a92fc7c3"
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "industry": {
                  "title": "Industry",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "jobtitle": {
                  "title": "JobTitle",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "industry": "@{body('Get_Industry')}",
              "jobtitle": "@{body('Get_Title')}"
            }
          },
          "runAfter": {
            "Get_Title": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac8bc9de-f86b-4f09-b03e-a169107a5e3f"
          }
        },
        "Get_Title": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "path": "/Shared Documents/@{triggerBody()['text']} - @{triggerBody()?['text_1']}/Job Details/@{triggerBody()?['text']} - @{triggerBody()?['text_1']} - Job Title.txt",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileContentByPath",
              "connectionName": "shared_sharepointonline-1"
            }
          },
          "runAfter": {
            "Get_Industry": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6272477-f8d7-4ef4-a90e-f95695defce8"
          }
        },
        "Get_Industry": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "path": "/Shared Documents/@{triggerBody()['text']} - @{triggerBody()?['text_1']}/Job Details/@{triggerBody()?['text']} - @{triggerBody()?['text_1']} - Industry.txt",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileContentByPath",
              "connectionName": "shared_sharepointonline-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8a7f02ca-5b64-4134-baab-b16533c295ce"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}