_solution_zip_inspect/Workflows/SaveAudioToAssessorStorage-FDC70702-CCB7-EF11-B8E8-000D3AE1E1C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_3a68c"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "eef485db-fafe-4c85-868f-e341e96c46e9"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "FileName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Duration",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Base64File",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "UserName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "Transcription Text",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "Please enter your input",
                  "title": "Assessment",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_6": {
                  "title": "Email Address",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5",
                "text_6"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "88a2614a-39c2-4517-9fa8-109ba28f19b2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Base64ToAudio",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Create_file_Audio_File": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2fbd8cdc-7f56-4569-b1fc-ae470edec4e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "folderPath": "/Shared Documents/@{triggerBody()?['text_3']} - @{triggerBody()['text_6']}",
              "name": "@{triggerBody()['text']}.mp3",
              "body": "@base64ToBinary(variables('Base64ToAudio'))"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_file-_User_Response": {
          "runAfter": {
            "Create_file_Audio_File": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2fbd8cdc-7f56-4569-b1fc-ae470edec4e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "folderPath": "/Shared Documents/@{triggerBody()?['text_3']} - @{triggerBody()['text_6']}",
              "name": "@{triggerBody()?['text']} User Answer.txt",
              "body": "@triggerBody()?['text_4']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_file-Text_File_-_Assessor_Response": {
          "runAfter": {
            "Create_file-_User_Response": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2fbd8cdc-7f56-4569-b1fc-ae470edec4e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "folderPath": "/Shared Documents/@{triggerBody()?['text_3']} - @{triggerBody()['text_6']}",
              "name": "@{triggerBody()?['text']} AssesorBot Answer.txt",
              "body": "@triggerBody()?['text_5']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}