_solution_zip_inspect/Workflows/TranscriptCollectorLive-E6FB7AD1-D74C-F011-8779-6045BD3CDE85.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_6ac96"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "352d2dec-1b17-47ed-9d54-2b23a92fc7c3"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "UserName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Email Address",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Transcript": {
          "runAfter": {
            "Get_file_metadata_using_path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fShared%2bDocuments%252fRichard%2bWray%2b-%2brichard%2540wraymediaconsulting.com%252fTracking%252fRichard%2bWray%2b-%2brichard%2540wraymediaconsulting.com%2b-%2bAssessment%2bStarted.txt": "/Shared Documents/Richard Wray - richard@wraymediaconsulting.com/Tracking/Richard Wray - richard@wraymediaconsulting.com - Assessment Started.txt",
            "operationMetadataId": "9066f1fa-143a-4a6b-b77b-1057f8565258",
            "%252fShared%2bDocuments%252fFull%2bTranscript.txt": "/Shared Documents/Full Transcript.txt",
            "%252fShared%2bDocuments%252fMichelle%2bBackup%252fFull%2bTranscript.txt": "/Shared Documents/Michelle Backup/Full Transcript.txt",
            "%252fShared%2bDocuments%252fMichelle%2bFirth%2b-%2bmfirth%2540aamctraining.edu.au%252fAssessment%252fFull%2bTranscript.txt": "/Shared Documents/Michelle Firth - mfirth@aamctraining.edu.au/Assessment/Full Transcript.txt",
            "%252fShared%2bDocuments%252fFull%2bTranscripts%252fFull%2bTranscript.txt": "/Shared Documents/Full Transcripts/Full Transcript.txt",
            "%252fShared%2bDocuments%252fRPL%2b-%2bFull%2bTranscripts%252fRichard%2bWray%2b-%2brichard%2540wraymediaconsulting.com%2b-%2bFull%2bTranscript.txt": "/Shared Documents/RPL - Full Transcripts/Richard Wray - richard@wraymediaconsulting.com - Full Transcript.txt",
            "%252fShared%2bDocuments%252fRPL%2b-%2bFull%2bTranscripts%252fRichard%2bWray-richard%2540wraymediaconsulting.com-Full%2bTranscript.txt": "/Shared Documents/RPL - Full Transcripts/Richard Wray-richard@wraymediaconsulting.com-Full Transcript.txt"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "id": "@outputs('Get_file_metadata_using_path')?['body/Id']",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Get_Transcript": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac8bc9de-f86b-4f09-b03e-a169107a5e3f"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "fulltranscript": "@{body('Get_Transcript')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "fulltranscript": {
                  "title": "FullTranscript",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_file_metadata_using_path": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a10c4031-b24f-41df-aeaa-0bcad6c956d0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetFileMetadataByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://wraymedia.sharepoint.com/sites/AssessorBotStoredContent",
              "path": "/Shared Documents/RPL - Full Transcripts/@{triggerBody()?['text']}-@{triggerBody()?['text_1']}-Full Transcript.txt"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}